<html>
    <head>
	<title>Otus DataOps course. Docker homework</title>
    </head>
    <body>
	<h3>
	    <a href="{{ url_for('home') }}">Otus DataOps course. Docker homework</a>
	</h3>


	<form action="{{ request.path }}" method="post">
	    Name:<br>
	    <input type="text" name="name"><br>
	    Description:<br>
	    <input type="text" name="description"><br>
	    <input type="submit" value="Submit">
	</form>


	<table>
	    <thead>
		<tr>
		    <th>Name</th>
		    <th>Description</th>
		</tr>
	    </thead>

	    <tbody>
	    {% for course in courses %}
		<tr>
		    <th><td>{{ course.name }}</td></th>
		    <th><td>{{ course.description }}</td></th>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>


    </body>
</html>